# ===============================
# AMBIENTE
# ===============================
# Virtual environments Python
.venv/
venv/
env/

# Android local properties
/LifeAI-mobile/local.properties
/android/local.properties

# ===============================
# CONFIGURAÇÕES SENSÍVEIS / SEGREDOS
# ===============================
# Arquivos de ambiente
.env
.env.*
!.env.example

# Keystores Android
/LifeAI-mobile/*.jks
/LifeAI-mobile/*.keystore
/LifeAI-mobile/keystore.properties

# Chaves SSH, certificados e segredos
*.pem
*.ppk
*.key
*.crt
*.csr
*.b64
*.base64
*.enc
*.secret
*.token
*.cert
*.bak
*secret.txt
*.pub
key_base64.txt
github-actions-kubeconfig
*.kubeconfig
kubeconfig.yaml
id_rsa*
id_ecdsa*
secrets.yaml

# ===============================
# ARQUIVOS DE SISTEMAS OPERACIONAIS
# ===============================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ===============================
# IDEs / EDITORES
# ===============================
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace
*.swp

# ===============================
# PYTHON / DJANGO
# ===============================
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
db.sqlite3

staticfiles/
media/

*.log

# Coverage / Test
.coverage
htmlcov/
pytest_cache/

# ===============================
# ANDROID / KOTLIN
# ===============================
/LifeAI-mobile/build/
/LifeAI-mobile/app/build/
/LifeAI-mobile/captures/
/LifeAI-mobile/.cxx/
*build-id.txt

# Gradle
.gradle/
/LifeAI-mobile/.gradle/

# ===============================
# CONSTANTES / UTILS (ex: Kotlin)
# ===============================
LifeAI-mobile/app/src/main/java/com/example/lifeai_mobile/utils

android/local.properties

# ===============================
# DOCKER / CI-CD
# ===============================
.dockerignore
*.tar
*.pid
*.img
**/docker-data/
**/docker-volume/
**/tmp_docker/
**/docker_tmp/
**/.docker/
**/docker-compose*.yml
**/docker-compose*.yaml
.github/secrets/
.github/.env
.github/workflows/tmp/