apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-deployment
  namespace: lifeai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - name: backend
          image: vitordissected/lifeai-backend:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: lifeai-config
            - secretRef:
                name: lifeai-secrets
          command: ["/app/scripts/commands.sh"]