apiVersion: v1
kind: Service
metadata:
  name: django-service
  namespace: lifeai
spec:
  selector:
    app: django
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
  type: LoadBalancer
